# Naive Bayes Classifier from Scratch
## Purpose: construct a Naive Bayes Classifier (NBC) to understand it in depth.
### Subissues
- get results to match to off-the-shelf solutions
- figure out how to get it to work for continuous variables
- consider using it for BenchOrPlay

In [1]:
# Imports
# Load useful packages
# import seaborn as sns
from pandas import Series,DataFrame
import pandas as pd
# import matplotlib as mpl
# import numpy as np
# import random as rnd

# import matplotlib.pyplot as plt
# import altair as alt
# alt.renderers.enable('notebook')
# alt.data_transformers.enable('json')
# print(alt.renderers.active)

# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import confusion_matrix
# from sklearn import metrics
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.decomposition import PCA
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score
# from sklearn.manifold import TSNE

# from scipy import sparse
# import io

In [2]:
# Data set
# https://github.com/anshu7vyas/naive-bayesian-census-income
# load all csv's
dtype = {
    'CAT-AGE'           : 'category',
    'WORKCLASS'         : 'category',
    'EDUCATION'         : 'category',
    'MARITAL STATUS'    : 'category',
    'OCCUPATION'        : 'category',
    'RELATIONSHIP'      : 'category',
    'RACE'              : 'category',
    'SEX'               : 'category',
    'CAT-CAPITAL-GAIN'  : 'category',
    'CAT_CAPITAL_LOSS'  : 'category',
    'CAT-HOURSpW'       : 'category',
    'NATIVE-COUNTRY'    : 'category',
    'CLASS'             : 'category'
}
raw_data = pd.read_csv('dataset-all-categorical.csv', dtype=dtype)

In [3]:
raw_data.head(10)

,CAT-AGE,WORKCLASS,EDUCATION,MARITAL STATUS,OCCUPATION,RELATIONSHIP,RACE,SEX,CAT-CAPITAL-GAIN,CAT_CAPITAL_LOSS,CAT-HOURSpW,NATIVE-COUNTRY,CLASS
0,Middle-aged,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,Low,None,Full-Time,United-States,<=50K
1,Senior,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,None,None,Part-time,United-States,<=50K
2,Middle-aged,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,None,None,Full-Time,United-States,<=50K
3,Senior,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,None,None,Full-Time,United-States,<=50K
4,Middle-aged,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,None,None,Full-Time,Cuba,<=50K
5,Middle-aged,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,None,None,Full-Time,United-States,<=50K
6,Senior,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,None,None,Part-time,Jamaica,<=50K
7,Senior,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,None,None,Over-Time,United-States,>50K
8,Middle-aged,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,High,None,Over-Time,United-States,>50K
9,Middle-aged,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,Low,None,Full-Time,United-States,>50K

In [4]:
raw_data.columns

Index(['CAT-AGE', 'WORKCLASS', 'EDUCATION', 'MARITAL STATUS', 'OCCUPATION',
       'RELATIONSHIP', 'RACE', 'SEX', 'CAT-CAPITAL-GAIN', 'CAT_CAPITAL_LOSS',
       'CAT-HOURSpW', 'NATIVE-COUNTRY', 'CLASS'],
      dtype='object')

In [5]:
for col in raw_data.columns:
    print(col,'\n',raw_data[col].value_counts())

CAT-AGE
 Middle-aged    24671
Senior         12741
Young           9627
Old             1803
Name: CAT-AGE, dtype: int64
WORKCLASS
  Private             36705
 Self-emp-not-inc     3862
 Local-gov            3136
 State-gov            1981
 Self-emp-inc         1695
 Federal-gov          1432
 Without-pay            21
 Never-worked           10
Name: WORKCLASS, dtype: int64
EDUCATION
  HS-grad         15784
 Some-college    10878
 Bachelors        8025
 Masters          2657
 Assoc-voc        2061
 11th             1812
 Assoc-acdm       1601
 10th             1389
 7th-8th           955
 Prof-school       834
 9th               756
 12th              657
 Doctorate         594
 5th-6th           509
 1st-4th           247
 Preschool          83
Name: EDUCATION, dtype: int64
MARITAL STATUS
  Married-civ-spouse       22379
 Never-married            16117
 Divorced                  6633
 Separated                 1530
 Widowed                   1518
 Married-spouse-absent      628
 Married-AF-spouse           37
Name: MARITAL STATUS, dtype: int64
OCCUPATION
  Prof-specialty       8981
 Craft-repair         6112
 Exec-managerial      6086
 Adm-clerical         5611
 Sales                5504
 Other-service        4923
 Machine-op-inspct    3022
 Transport-moving     2355
 Handlers-cleaners    2072
 Farming-fishing      1490
 Tech-support         1446
 Protective-serv       983
 Priv-house-serv       242
 Armed-Forces           15
Name: OCCUPATION, dtype: int64
RELATIONSHIP
  Husband           19716
 Not-in-family     12583
 Own-child          7581
 Unmarried          5125
 Wife               2331
 Other-relative     1506
Name: RELATIONSHIP, dtype: int64
RACE
  White                 41762
 Black                  4685
 Asian-Pac-Islander     1519
 Amer-Indian-Eskimo      470
 Other                   406
Name: RACE, dtype: int64
SEX
  Male      32650
 Female    16192
Name: SEX, dtype: int64
CAT-CAPITAL-GAIN
 None    44807
Low      2345
High     1690
Name: CAT-CAPITAL-GAIN, dtype: int64
CAT_CAPITAL_LOSS
 None    46560
Low      1166
High     1116
Name: CAT_CAPITAL_LOSS, dtype: int64
CAT-HOURSpW
 Full-Time    28577
Over-Time    12676
Part-time     5913
Too-Much      1676
Name: CAT-HOURSpW, dtype: int64
NATIVE-COUNTRY
  United-States                 44689
 Mexico                          951
 Philippines                     295
 Germany                         206
 Puerto-Rico                     184
 Canada                          182
 El-Salvador                     155
 India                           151
 Cuba                            138
 England                         127
 China                           122
 South                           115
 Jamaica                         106
 Italy                           105
 Dominican-Republic              103
 Japan                            92
 Guatemala                        88
 Poland                           87
 Vietnam                          86
 Columbia                         85
 Haiti                            75
 Portugal                         67
 Taiwan                           65
 Iran                             59
 Greece                           49
 Nicaragua                        49
 Peru                             46
 Ecuador                          45
 France                           38
 Ireland                          37
 Hong                             30
 Thailand                         30
 Cambodia                         28
 Trinadad&Tobago                  27
 Laos                             23
 Outlying-US(Guam-USVI-etc)       23
 Yugoslavia                       23
 Scotland                         21
 Honduras                         20
 Hungary                          19
 Holand-Netherlands                1
Name: NATIVE-COUNTRY, dtype: int64
CLASS
  <=50K    37155
 >50K     11687
Name: CLASS, dtype: int64

Now put together Naive Bayes for a single feature with two values: SEX.