## This notebook is my *from scratch* version of the 90% of NLP Problems workshop

[Article](https://blog.insightdatascience.com/how-to-solve-90-of-nlp-problems-a-step-by-step-guide-fda605278e4e)

[Github](https://github.com/hundredblocks/concrete_NLP_tutorial/blob/master/NLP_notebook.ipynb)

In [58]:
# Import libraries
import pandas as pd
import io

In [59]:
# Get the data... I just stole their code because I'm not quite sure what they need to do here
# or if the data file I fetched is correct!
input_file = io.open("socialmedia_relevant_cols.csv", "r",encoding='utf-8', errors='replace')
output_file = open("socialmedia_relevant_cols_clean.csv", "w")

def sanitize_characters(raw, clean):    
    for line in input_file:
        out = line
        output_file.write(line)
sanitize_characters(input_file, output_file)

In [60]:
questions = pd.read_csv("socialmedia_relevant_cols_clean.csv")
questions.columns=['text', 'choose_one', 'class_label']
questions.head(5)

                                                text choose_one  class_label
0                 Just happened a terrible car crash   Relevant            1
1  Our Deeds are the Reason of this #earthquake M...   Relevant            1
2  Heard about #earthquake is different cities, s...   Relevant            1
3  there is a forest fire at spot pond, geese are...   Relevant            1
4             Forest fire near La Ronge Sask. Canada   Relevant            1

In [61]:
# A little EDA
import seaborn as sns
print(questions.class_label.value_counts())
print(questions.choose_one.value_counts())
questions[questions.isna().any(axis=1)]

0    6187
1    4673
2      16
Name: class_label, dtype: int64
Not Relevant    6187
Relevant        4673
Can't Decide      16
Name: choose_one, dtype: int64

Empty DataFrame
Columns: [text, choose_one, class_label]
Index: []

So it seems that the classes are pretty close to balanced, and class_label is just encoded with relevant = 1; not = 0.

In [62]:
# Verify that data is encoded exactly correctly
pd.crosstab(questions.choose_one,questions.class_label)

class_label      0     1   2
choose_one
Can't Decide     0     0  16
Not Relevant  6187     0   0
Relevant         0  4673   0

### Process words:
- Remove non-alphabetical characters
- lowercase