### Quickie python to match a facebook friends list fuzzily with a list of potential matches

In [1]:
# Load useful packages
from pandas import Series,DataFrame
import pandas as pd
import io
from fuzzywuzzy import fuzz

/home/topquirk67/anaconda3/envs/insight/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
friends_file = '/home/topquirk67/Documents/mh.txt'
match_file   = '/home/topquirk67/Downloads/Go-to-survey 2017 (All Students) - Sheet1.csv'

match_data = pd.read_csv(match_file)
match_data.columns = ['advisor', 'grade', 'name', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6']

In [3]:
match_data = match_data.loc[match_data['grade'].isin([9,10])]
match_data.drop(['advisor', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6'],axis=1,inplace=True)
match_data['name'] = match_data['name'].str.lower()
match_data['name'] = match_data['name'].str.replace(' ','')

In [4]:
match_data.head()

   grade              name
0      9      alextanemura
1      9  benjaminscherzer
2      9     frankietonina
3      9      ingridodmark
4      9    leightoncahoon

In [5]:
# simply read in friends as a list
with open(friends_file) as f:
    friends_lines = f.read().splitlines()
    
# eliminate all blank lines and all lines with "friend" case insensitive in it
friends_lines = [item.lower() for item in friends_lines]
friends_lines = [item.replace(" ","") for item in friends_lines if 'friend' not in item]
friends_lines = [item for item in friends_lines if item != '']

In [6]:
#friends_lines

In [7]:
def keywithmaxval(d):
     """ a) create a list of the dict's keys and values; 
         b) return the key with the max value"""  
     v=list(d.values())
     k=list(d.keys())
     return (k[v.index(max(v))],max(v))

# go through students df and find the maximum fuzzy match; print if above 50

#fuzz.ratio(friends_lines[9],match_data['name'])
for item in match_data['name']:
#    scores = [fuzz.ratio(item,friend) for friend in friends_lines]
    d = {friend: fuzz.ratio(item,friend) for friend in friends_lines}
    #print(len(d))
    keyval = keywithmaxval(d)
    if (keyval[1] > 80):
        print(item,'  ',keyval)
#    print(item,'  ',max(d, key=lambda key: d[key]))
    # print(d)

beccafriedman    ('benfriedman', 83)
sydneygrayson    ('sydneygrayson', 100)
saylorgreen    ('saylorgreen', 100)
chasrinne    ('chasrinne', 100)
emilyrinn    ('emilyrinn', 100)
makenakerns    ('makenakerns', 100)
laurenbaty    ('laurenbaty', 100)
vansenseney    ('vansenseney', 100)
cicicarter    ('cicicarter', 100)
claircolee    ('claircolee', 100)
natalierezek    ('natalierezek', 100)
ianlock    ('ianlock', 100)
mayasulkin    ('mayasulkin', 100)